[Unit]
Description=Xorg server for DISPLAY=:0
After=xorg.socket

[Service]
Type=simple
ExecStart=/usr/bin/Xorg :0 -nolisten tcp -noreset -nocursor -verbose -dpms -s 0
Restart=always
RestartSec=10
