[Unit]
Description=Xorg server

[Service]
Type=notify
ExecStart=/usr/bin/xorg-launch-helper :0 -nolisten tcp -noreset -nocursor -verbose -dpms -s 0
Restart=always
RestartSec=10
