Source: xorg-run
Section: config
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 3.9.8
Vcs-Git: http://git.pragmatux.org/xorg-run.git
Vcs-Browser: http://git.pragmatux.org/xorg-run.git

Package: xorg-run
Architecture: all
Depends: systemd, ${misc:Depends}
Description: Run Xorg via socket activation
 Installing this package enables Xorg to be run via socket activation.
